body{
  background-color: white;
}
ul{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 15px;
  background-color: white
}
a{
  color: white;
  background-color: black;
  font-size: 25px;
  border-radius: 5px;
}
a:hover{
  color: red;
  background-color: white;
  transition: 1.5s;
}
a{
  text-decoration: none;

}
li{
  list-style: none;
}
.home-h1{
  text-align: center;
  color: brown;
  background-color: black;
  box-shadow: 10px 10px 5px rgb(153, 103, 103);
}

.about-h1{
  text-align: center;
  color: black;
  background-color: brown;
  box-shadow: 10px 10px 5px rgb(231, 68, 68);
}
.nav-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.skilss-h1{
  color: rgb(16, 16, 170);
  background-color: rgba(240, 240, 1, 0.747);
  box-shadow: 10px 10px 5px rgb(219, 205, 7);
  text-align: center;
}
.projects-h1{
  color: rgba(240, 240, 1, 0.747);
  background-color:  rgb(16, 16, 170);
  box-shadow: 10px 10px 5px rgb(19, 55, 172);
  text-align: center;
}
.contact-h1{
  color: white;
  background-color: rgb(0, 100, 0);
  text-align: center;
  box-shadow: 10px 10px 5px rgb(1, 180, 55);
}
.profile-h1{
  color: beige;
  background-color: cadetblue;
  text-align: center;
  box-shadow: 10px 10px 5px rgb(22, 177, 224);
}